<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css"/>
    <title>contact Page</title>
</head>

<body>
    <div class='container' style="width:700px;">
        <div>
            <ul>
                <li class='topBar'><a href="/">Home </a> | </li>
                <li class='topBar'><a href="/projects">Projects </a> | </li>
                <li class='topBar'>Contact Info</li>
            </ul>
        </div>

        <h1>Contact Me!</h1>

        <div>
            <form>
                <label for="name">Name: </label>
                <input type="text" name="name" id="name">

                <label for="message">Message: </label>
                <input type="text" name="message" id="message" style="height:100px;">
                <br>
                <label for="email">Email: </label>
                <input type="text" name="email" id="email" >
                <br>
                <button>Submit</button>
            </form>
        </div>



    </div>

</body>

</html>