<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Home Page</title>
    <link rel="stylesheet" href="~/css/style.css"/>
</head>

<body>
    <div class='container'>
        <div>
            <ul>
                <li class='topBar'>Home | </li>
                <li class='topBar'><a href="/projects">Projects </a> | </li>
                <li class='topBar'><a href="/contact">Contact Info</a></li>
            </ul>
        </div>
        <div>
            <h1>About Kevin</h1>
        </div>

        <div class='leftSide'>
            <img src="~/me.jpg" alt="me">
            <h4>This is me!</h4>
        </div>

        <div class='rightSide'>
            <p>My name is Kevin and I like coding. I love it so much, I spend my whole life coding and 
            even dream about coding. It's the best thing for pushing me and forcing me to constantly learn more and more! </p>
        </div>

    </div>
</body>

</html>